server=file:/usr/local/etc/rdf4j
path=/poms
copyright=This data is Copyright © People of Medieval Scotland, 2019  (All rights reserved),\nand is made available under the Creative Commons License 'Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)'
uriPrefix=https://www.poms.ac.uk/rdf/entity/
ontologyPath=/ontology/poms.owl